[flake8]
exclude =
    .git/
    .github/
    .pytest_cache/
    .tox/
    .vscode/
    *.egg-info/
    build/
    docs/build/
    dist/
    __pycache__
    *.py[doc]
ignore =
    D100
    D104
    D107
per-file-ignores =
    tests/*: D101, D102, D103
